<?xml version="1.0"?>
<model>
    <name>puzzletrack_piece_1</name>
    <version>1.0</version>
    <author>
        <name>Victor Manuel Vazquez Morales</name>
        <email>victormvm05043@gmail.com</email>
    </author>
    <sdf version='1.4'>model.sdf</sdf>
    <description>Straight track segment for the modular Puzzletrack system. Designed for high-speed linear navigation and optimized for Gazebo Sim environments.</description>
</model>