<?xml version="1.0"?>
<model>
    <name>puzzletrack_piece_3</name>
    <version>1.0</version>
    <author>
        <name>Victor Manuel Vazquez Morales</name>
        <email>victormvm05043@gmail.com</email>
    </author>
    <sdf version='1.4'>model.sdf</sdf>
    <description>Curved segment for the modular Puzzletrack system. Designed to validate steering control, PID tuning, and path-following stability in autonomous mobile robotics.</description>
</model>