<?xml version="1.0"?>
<model>
    <name>give_way</name>
    <version>1.0</version>
    <author>
        <name>Victor Manuel Vazquez Morales</name>
        <email>victormvm05043@gmail.com</email>
    </author>
    <sdf version='1.4'>model.sdf</sdf>
    <description>Regulatory traffic sign indicating 'Give Way' (Yield). Designed with PBR materials for high-fidelity detection and training in autonomous navigation scenarios.</description>
</model>