<?xml version="1.0"?>
<model>
    <name>stop</name>
    <version>1.0</version>
    <author>
        <name>Victor Manuel Vazquez Morales</name>
        <email>victormvm05043@gmail.com</email>
    </author>
    <sdf version='1.4'>model.sdf</sdf>
    <description>Regulatory 'STOP' traffic sign. Essential for validating Finite State Machine (FSM) transitions, ensuring the robot performs a complete halt at intersections before proceeding with autonomous navigation tasks.</description>
</model>