<?xml version="1.0"?>
<model>
    <name>traffic_light</name>
    <version>1.0</version>
    <author>
        <name>Victor Manuel Vazquez Morales</name>
        <email>victormvm05043@gmail.com</email>
    </author>
    <sdf version='1.4'>model.sdf</sdf>
    <description>Dynamic traffic light model featuring synchronized RAG (Red, Amber, Green) transitions. Specifically configured to interface with the traffic_light_plugin, allowing for timed state changes and real-time interaction within the autonomous navigation environment.</description>
</model>