<?xml version="1.0"?>
<model>
    <name>turn_right</name>
    <version>1.0</version>
    <author>
        <name>Victor Manuel Vazquez Morales</name>
        <email>victormvm05043@gmail.com</email>
    </author>
    <sdf version='1.4'>model.sdf</sdf>
    <description>Mandatory traffic sign indicating a 'Right Turn'. Feature-rich model with optimized textures for robust computer vision detection and behavioral state-machine transitions in ROS2-based simulation environments.</description>
</model>