<?xml version="1.0"?>
<model>
    <name>border_box_v1</name>
    <version>1.0</version>
    <author>
        <name>Victor Manuel Vazquez Morales</name>
        <email>victormvm05043@gmail.com</email>
    </author>
    <sdf version='1.4'>model.sdf</sdf>
    <description>Enclosure used to bound the Puzzletrack for the version defined in puzzletrack_v1.sdf.</description>
</model>