<?xml version="1.0"?>
<model>
    <name>turn_left</name>
    <version>1.0</version>
    <author>
        <name>Victor Manuel Vazquez Morales</name>
        <email>victormvm05043@gmail.com</email>
    </author>
    <sdf version='1.4'>model.sdf</sdf>
    <description>Mandatory traffic sign indicating a 'Left Turn'. Designed with high-contrast textures for robust performance in line-tracking and computer vision tasks within simulated urban environments.</description>
</model>