<?xml version="1.0"?>
<model>
    <name>max_speed</name>
    <version>1.0</version>
    <author>
        <name>Victor Manuel Vazquez Morales</name>
        <email>victormvm05043@gmail.com</email>
    </author>
    <sdf version='1.4'>model.sdf</sdf>
    <description>Regulatory traffic sign indicating 'Maximum Speed Limit'. Optimized for high-fidelity detection with YOLOv8 and computer vision models in autonomous robotics environments.</description>
</model>