<?xml version="1.0"?>
<model>
    <name>puzzletrack_piece_2</name>
    <version>1.0</version>
    <author>
        <name>Victor Manuel Vazquez Morales</name>
        <email>victormvm05043@gmail.com</email>
    </author>
    <sdf version='1.4'>model.sdf</sdf>
    <description>Intersection segment for the modular Puzzletrack system. This piece enables four-way navigation and is ideal for testing traffic light logic and autonomous priority algorithms.</description>
</model>