<?xml version="1.0"?>
<model>
    <name>roadwork</name>
    <version>1.0</version>
    <author>
        <name>Victor Manuel Vazquez Morales</name>
        <email>victormvm05043@gmail.com</email>
    </author>
    <sdf version='1.4'>model.sdf</sdf>
    <description>Warning traffic sign indicating 'Roadwork Ahead'. Designed for environment complexity testing and obstacle-aware navigation training within Gazebo Sim.</description>
</model>