<?xml version="1.0"?>
<model>
    <name>roundabout</name>
    <version>1.0</version>
    <author>
        <name>Victor Manuel Vazquez Morales</name>
        <email>victormvm05043@gmail.com</email>
    </author>
    <sdf version='1.4'>model.sdf</sdf>
    <description>Directional traffic sign indicating a 'Roundabout'. In this simulation context, it serves as a visual trigger for the robot to execute a U-turn or 180-degree maneuver, facilitating complex path-planning and behavior-based navigation.</description>
</model>