<?xml version="1.0"?>
<model>
    <name>go_ahead</name>
    <version>1.0</version>
    <author>
        <name>Victor Manuel Vazquez Morales</name>
        <email>victormvm05043@gmail.com</email>
    </author>
    <sdf version='1.4'>model.sdf</sdf>
    <description>Mandatory traffic sign indicating 'Go Ahead'. Feature-rich model with optimized textures for real-time computer vision inference and autonomous vehicle path-planning validation.</description>
</model>